$var-breakpoint:				768px;
$var-col:						12;
$var-max-width:					100%;
$var-col-gutters:				2%;
$var-col-width:					$var-max-width / $var-col;
$var-col-width-gutters:			($var-max-width + $var-col-gutters) / $var-col;