/* configs
--------------------------------------------------------- */
@import "configs";


/* grid
--------------------------------------------------------- */
.grid { 
	width: $var-max-width;
	margin: 0 auto;
	letter-spacing: -0.35em;
	
	&--right{
		text-align: right;
	}

	&--center{
		text-align: center;
	}

	&--justify {
		display: block;
		text-align: justify;
		text-justify: distribute-all-lines;
		
		&:after{
			content: '';
			display: inline-block;
			width: $var-max-width;
		}
	}

	&--middle &__col{
		vertical-align: middle;
	}

	&--top &__col{
		vertical-align: top;
	}

	&--bottom &__col{
		vertical-align: bottom;
	}

	&__col{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: block;
		width: $var-max-width;
		vertical-align: top;
		letter-spacing: normal;
		word-spacing: normal;
		word-wrap: break-word;
		
		&--middle{
			vertical-align: middle;
		}

		&--top{
			vertical-align: top;
		}

		&--bottom{
			vertical-align: bottom;
		}
	}
}


@media ( min-width : $var-breakpoint ) {
	
	.grid{

		&--gutters &__col{
			margin-left: $var-col-gutters;
			
			&:first-child{
				margin-left: 0;
			}	
		}

		&__col{
			display: inline-block;
			width: auto;
			
			@for $i from 1 through $var-col{
				&--#{$i}{
					width: $var-col-width * $i;
				}
			}
		}

		&__offset{
			@for $i from 1 through $var-col{
				&--#{$i}{
					margin-right: $var-col-width * $i;
				}
			}
		}

		&--gutters &__col{
			@for $i from 1 through $var-col - 1{
				&--#{$i}{
					width: $var-col-width-gutters * $i - $var-col-gutters;
				}
			}
			&--#{$var-col}{
				width: $var-max-width;
			}
		}

		&--gutters &__offset{
			@for $i from 1 through $var-col - 1{
				&--#{$i}{
					margin-right: $var-col-width-gutters * $i;
				}
			}

			&--#{$var-col}{
				margin-right: $var-max-width;
			}
		}
	}	
}
